.container {
  padding: 0 1rem;
  background-image:url("../public/marvel.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main {
  flex:1;
}
.footer {
  flex: 0;
  padding: 2rem 0;
  font-size: 1rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .footer{
    font-size: 0.5rem;
  }
}
